.login {
  display: grid;
  justify-content: center;
  align-items: center;
}

.sign-up {
  display: grid;
  justify-content: center;
  align-items: center;
}

.buttonLayout {
  display: grid;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
}
